@model IEnumerable<Peak.Discoun.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<a asp-action="Create" class="btn btn-primary">Create New</a>
<div class="card-group" >
@foreach (var product in Model)
{
    var photoPath = "~/Images/" + (product.ImagePath ?? "noimage.jpg");
    <div class="card m-3" style="min-width: 15rem; max-width:30.5%; ">
        <div class="card-header text-center">
            <h3>@product.Name</h3>
        </div>
        <center>
            <img class="card-img-top" style="height: 110px; width: auto; position:center " src="@photoPath" asp-append-version="true" />
            <h3><b>Stock : </b> @product.Stock</h3>
            <center />
            <div class="card-header text-center">
                <a asp-controller="product" asp-action="details" asp-route-id="@product.Id"
                   class="btn btn-primary m-1">View</a>
                <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary m-1">Edit</a>
                <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger m-1">Delete</a>
            </div>
</div>
}
</div>
