@model List<Peak.Discoun.Models.Pack>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Packs</h1>
            </div>

        </div>
    </div>
</section>
<a asp-action="Create" class="btn btn-primary btn-sm">ADD Products to Pack</a>
<br />
<br />
<!-- Main content -->

@foreach (var item1 in Model)
{

    <div class="card">

        <div class="card-header">

            <h2 class="card-title">
                @Html.DisplayFor(modelItem => item1.Name)

            </h2>
            <br />
            <small> Time Expire in : <span class="badge badge-light"><h6 id="demo" ></h6></span> </small>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>

                    <tr>
                        <th style="width: 1%">
                            #
                        </th>

                        <th style="width: 20%">
                            Product Name
                        </th>
                        <th style="width: 10%">
                            Price
                        </th>

                        <th style="width: 10%">
                            Stock
                        </th>
                        <th style="width: 15%">
                            Images Products
                        </th>

                        <th style="width: 30%">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in item1.PackProducts)
                    {

                        var photoPath = "~/Images/" + (item.Product.ImagePath ?? "noimage.jpg");
                        <tr>
                            <td>
                                #
                            </td>
                            <td>
                                <a>
                                    @Html.DisplayFor(modelItem => item.Product.Name)
                                </a>
                                <br />

                            </td>
                            <td>
                                <a>
                                    @Html.DisplayFor(modelItem => item.Product.Price) TND
                                </a>
                                <br />

                            </td>
                            <td>
                                <a>
                                    @Html.DisplayFor(modelItem => item.Product.Stock)
                                </a>
                                <br />

                            </td>
                            <td>
                                <ul class="list-inline">

                                    <li class="list-inline-item">

                                        <img alt="Avatar" class="table-avatar" src="@photoPath" asp-append-version="true">
                                    </li>
                                </ul>
                            </td>

                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" asp-controller="PackProduct" asp-action="details" asp-route-id="@item.PackId">
                                    <i class="fas fa-folder">
                                    </i>
                                    View
                                </a>
                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" asp-controller="PackProduct" asp-action="delete" asp-route-id="@item.PackId">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>


                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
  
        <script>
            // Set the date we're counting down to
            var countDownDate = new Date("Jan 5, 2021 15:37:25").getTime();
            
              
            // Update the count down every 1 second
            var x = setInterval(function () {

                // Get today's date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Display the result in the element with id="demo"
                document.getElementById("demo").innerHTML = days + "Days| " + hours + "houres| "
                    + minutes + "minutes|  " + seconds + "seconds  ";

                // If the count down is finished, write some text
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("demo").innerHTML = "EXPIRED";
                }
            }, 1000);
        </script>
    

}

